In [3]:
from astropy.io import fits

In [4]:
hdu = fits.open(
    '/Users/mmckay/phd_projects/breakBRD_radial_profiles_analysis/DATA/IFU_MAPS_FITS/BBRD/8312-12704_MM.fits')

In [5]:
hdu.info()

Filename: /Users/mmckay/phd_projects/breakBRD_radial_profiles_analysis/DATA/IFU_MAPS_FITS/BBRD/8312-12704_MM.fits
No.    Name      Ver    Type      Cards   Dimensions   Format
  0  HALPHA        1 PrimaryHDU      14   (74, 74)   float32
  1  HALPHA KCORR    2 ImageHDU         9   (74, 74)   float32
  2  HBETA KCORR    3 ImageHDU         9   (74, 74)   float32
  3  NII6585 KCORR    4 ImageHDU         9   (74, 74)   float32
  4  OII3727 KCORR    5 ImageHDU         9   (74, 74)   float32
  5  OII3729 KCORR    6 ImageHDU         9   (74, 74)   float32
  6  OIII5008 KCORR    7 ImageHDU         9   (74, 74)   float32
  7  SII6718 KCORR    8 ImageHDU         9   (74, 74)   float32
  8  SII6732 KCORR    9 ImageHDU         9   (74, 74)   float32
  9  HALPHA SNR   10 ImageHDU         9   (74, 74)   float32
 10  HBETA SNR    11 ImageHDU         9   (74, 74)   float32
 11  NII6585 SNR   12 ImageHDU         9   (74, 74)   float32
 12  OII3727 SNR   13 ImageHDU         9   (74, 74)   float32
 13  OII3729 SNR   14 ImageHDU         9   (74, 74)   float32
 14  OIII5008 SNR   15 ImageHDU         9   (74, 74)   float32
 15  SII6718 SNR   16 ImageHDU         9   (74, 74)   float32
 16  SII6732 SNR   17 ImageHDU         9   (74, 74)   float32
 17  HALPHA ERROR   18 ImageHDU         9   (74, 74)   float32
 18  HBETA ERROR   19 ImageHDU         9   (74, 74)   float32
 19  NII6585 ERROR   20 ImageHDU         9   (74, 74)   float32
 20  OII3727 ERROR   21 ImageHDU         9   (74, 74)   float32
 21  OII3729 ERROR   22 ImageHDU         9   (74, 74)   float32
 22  OIII5008 ERROR   23 ImageHDU         9   (74, 74)   float32
 23  SII6718 ERROR   24 ImageHDU         9   (74, 74)   float32
 24  SII6732 ERROR   25 ImageHDU         9   (74, 74)   float32
 25  HALPHA_DQ    26 ImageHDU         9   (74, 74)   int32
 26  HA/HB        27 ImageHDU         9   (74, 74)   float32
 27  HA_LUM       28 ImageHDU         9   (74, 74)   float64
 28  LOGSFR       29 ImageHDU         9   (74, 74)   float64
 29  LOGSFR DENSITY   30 ImageHDU         9   (74, 74)   float64
 30  ELLIP R      31 ImageHDU         9   (74, 74)   float32
 31  R/REFF       32 ImageHDU         9   (74, 74)   float32
 32  LOG(O/H)+12_[N2O2]   33 ImageHDU         9   (74, 74)   float32
 33  LOG(O/H)+12_[O3N2]   34 ImageHDU         9   (74, 74)   float32
 34  LOG(O/H)+12_[N2]   35 ImageHDU         9   (74, 74)   float32
 35  GYR_LW       36 ImageHDU         9   (74, 74)   float64
 36  GYR_MW       37 ImageHDU         9   (74, 74)   float64
 37  GYR_ERR      38 ImageHDU         9   (74, 74)   float64
 38  SP_ZSUBL     39 ImageHDU         9   (74, 74)   float64
 39  SP_ZSUBM     40 ImageHDU         9   (74, 74)   float64
 40  SP_ZERR      41 ImageHDU         9   (74, 74)   float64
 41  VEL_KM/S     42 ImageHDU         9   (74, 74)   float64
 42  VEL_ERR]     43 ImageHDU         9   (74, 74)   float64
 43  VDISP_KM/S   44 ImageHDU         9   (74, 74)   float64
 44  VDISP_ERR    45 ImageHDU         9   (74, 74)   float64
 45  M/L          46 ImageHDU         9   (74, 74)   float64
 46  MSUN/SPX2    47 ImageHDU         9   (74, 74)   float64
 47  MSUN/ARCS2   48 ImageHDU         9   (74, 74)   float64
 48  MSUN_ERR     49 ImageHDU         9   (74, 74)   float64
 49  D4000        50 ImageHDU         9   (74, 74)   float64
 50  D4000_ERR    51 ImageHDU         9   (74, 74)   float64
 51  HDELTA       52 ImageHDU         9   (74, 74)   float64
 52  HDELTA_ERR   53 ImageHDU         9   (74, 74)   float64
 53  O3HB_RATIO   54 ImageHDU         9   (74, 74)   float32
 54  N2HA_RATIO   55 ImageHDU         9   (74, 74)   float32
 55  BPT_CLASS    56 ImageHDU         9   (74, 74)   float32
 56  B20_DELTASFR   57 ImageHDU         9   (74, 74)   float64
 57  LOG_SIGMA_SSFR   58 ImageHDU         9   (74, 74)   float64
 58  B20_SFRD_UPLIM   59 ImageHDU         9   (74, 74)   float64
 59  B20_SFRD_LOWLIM   60 ImageHDU         9   (74, 74)   float64
 60  DAP_D4000    61 ImageHDU         9   (74, 74)   float32
 61  DAP_DN4000   62 ImageHDU         9   (74, 74)   float32
 62  DAP_HDELTAA   63 ImageHDU         9   (74, 74)   float32
 63  DAP_HDELTAF   64 ImageHDU         9   (74, 74)   float32
 64  DAP_D4000_IVAR   65 ImageHDU         9   (74, 74)   float32
 65  DAP_DN4000_IVAR   66 ImageHDU         9   (74, 74)   float32
 66  DAP_HDELTAA_IVAR   67 ImageHDU         9   (74, 74)   float32
 67  DAP_HDELTAF_IVAR   68 ImageHDU         9   (74, 74)   float32
 68  R_KPC        69 ImageHDU         9   (74, 74)   float32
 69  GASVEL_DISP   70 ImageHDU         9   (74, 74)   float32
 70  GASVEL_ERR_DISP   71 ImageHDU         9   (74, 74)   float32
 71  STARVEL_DISP1   72 ImageHDU         9   (74, 74)   float32
 72  STARVEL_DISP2   73 ImageHDU         9   (74, 74)   float32
 73  STARVEL_DISP2   73 ImageHDU         9   (74, 74)   float32
 74  STARVEL_DISPERR   74 ImageHDU         9   (74, 74)   float32

In [7]:
import numpy as np

In [15]:
np.arange(3, 4, 1)

array([3])

In [17]:
np.arange(0, 1.5, 0.5)

array([0. , 0.5, 1. ])

In [18]:
import pandas as pd

In [24]:
vis_vetted_df = pd.read_csv(
    "/Users/mmckay/phd_projects/breakBRD_radial_profiles_analysis/DATA/GLOBAL_TABLES/visually_vetted_global_table.csv")

vis_reject_df = pd.read_csv(
    "/Users/mmckay/phd_projects/breakBRD_radial_profiles_analysis/DATA/GLOBAL_TABLES/visual_rejects_global_table.csv")

lg12_df = pd.read_csv(
    "/Users/mmckay/phd_projects/breakBRD_radial_profiles_analysis/DATA/GLOBAL_TABLES/lg12_global_db.csv")

In [25]:
vis_reject_df.head()

,Unnamed: 0.2,Unnamed: 0.1,plateifu,Unnamed: 0_x,Objra,Objdec,mangaid_x,plateifu.1,nsa_z,SDSS_RA_deg,...,P(Sd),P(Sdm),P(Sm),P(Irr),best_type_n,best_type,nsa_nsaid,Vmax_w,Num_w,QCFLAG
0,1,1,10216-3703,247,117.095,18.503,1-297825,10216-3703,0.046551,117.095,...,0.000668,0.000012,0.000066,0.001609,0.0,NaN,315082.0,1.562250e-06,18.85670,0.0
1,5,5,10492-3701,614,122.415,57.525,1-584800,10492-3701,0.025234,122.415,...,0.001284,0.000018,0.000126,0.001195,0.0,NaN,622350.0,5.546690e-06,66.94990,0.0
2,6,6,10492-6104,621,122.985,56.979,1-380032,10492-6104,0.027189,122.985,...,0.000577,0.000007,0.000057,0.001520,1.0,NaN,402053.0,4.497910e-06,54.29080,0.0
3,9,9,10500-12705,747,137.223,32.253,1-300469,10500-12705,0.049694,137.223,...,0.000356,0.000005,0.000035,0.001734,0.0,NaN,317911.0,7.015780e-07,8.46821,0.0
4,10,10,10507-3703,871,177.397,47.831,1-280716,10507-3703,0.024974,177.397,...,0.000491,0.000007,0.000048,0.001160,1.0,NaN,296852.0,3.901200e-06,47.08850,0.0

In [28]:
vis_vetted_df = lg12_df[~lg12_df['plateifu'].isin(vis_reject_df['plateifu'])]
vis_vetted_df.describe()
vis_vetted_df.to_csv(
    "/Users/mmckay/phd_projects/breakBRD_radial_profiles_analysis/DATA/GLOBAL_TABLES/vis_vetted_lg12_global.csv", index=True)

In [45]:
bbrd_supercsv_df = pd.read_csv('/Users/mmckay/phd_projects/breakBRD_radial_profiles_analysis/DATA/SUPER_CSV_TABLES/bbrd_superifu.csv')
bbrd_supercsv_df.columns

Index(['Unnamed: 0', 'HALPHA', 'HALPHA KCORR', 'HBETA KCORR', 'NII6585 KCORR',
       'OII3727 KCORR', 'OII3729 KCORR', 'OIII5008 KCORR', 'SII6718 KCORR',
       'SII6732 KCORR', 'HALPHA SNR', 'HBETA SNR', 'NII6585 SNR',
       'OII3727 SNR', 'OII3729 SNR', 'OIII5008 SNR', 'SII6718 SNR',
       'SII6732 SNR', 'HALPHA ERROR', 'HBETA ERROR', 'NII6585 ERROR',
       'OII3727 ERROR', 'OII3729 ERROR', 'OIII5008 ERROR', 'SII6718 ERROR',
       'SII6732 ERROR', 'HALPHA_DQ', 'HA/HB', 'HA_LUM', 'LOGSFR',
       'LOGSFR DENSITY', 'ELLIP R', 'R/REFF', 'LOG(O/H)+12_[N2O2]',
       'LOG(O/H)+12_[O3N2]', 'LOG(O/H)+12_[N2]', 'GYR_LW', 'GYR_MW', 'GYR_ERR',
       'SP_ZSUBL', 'SP_ZSUBM', 'SP_ZERR', 'VEL_KM/S', 'VEL_ERR]', 'VDISP_KM/S',
       'VDISP_ERR', 'M/L', 'MSUN/SPX2', 'MSUN/ARCS2', 'MSUN_ERR', 'D4000',
       'D4000_ERR', 'HDELTA', 'HDELTA_ERR', 'O3HB_RATIO', 'N2HA_RATIO',
       'BPT_CLASS', 'B20_DELTASFR', 'LOG_SIGMA_SSFR', 'B20_SFRD_UPLIM',
       'B20_SFRD_LOWLIM', 'DAP_D4000', 'DAP_DN4000', 'DAP_HDELTAA',
       'DAP_HDELTAF', 'DAP_D4000_IVAR', 'DAP_DN4000_IVAR', 'DAP_HDELTAA_IVAR',
       'DAP_HDELTAF_IVAR', 'R_KPC', 'GASVEL_DISP', 'GASVEL_ERR_DISP',
       'STARVEL_DISP1', 'STARVEL_DISP2', 'PLATEIFU', 'Log_Sigma_sSFR_yr-1',
       'plateifu'],
      dtype='object')

In [58]:
bbrd_supercsv_df.pivot_table(index=['plateifu'], columns='R/REFF' ,values=['GYR_LW','DAP_DN4000'], aggfunc={'GYR_LW': np.nanmedian, 'DAP_DN4000': [min, max, np.mean]})
# bbrd_supercsv_df.pivot_table(index=['plateifu'], values=['GYR_LW'])

           DAP_DN4000                                                    \
                  max
R/REFF       0.000204  0.000259  0.000693  0.000758  0.000935  0.001041
plateifu
10001-3702        NaN       NaN       NaN       NaN  0.820986       NaN
10217-6103        NaN       NaN       NaN       NaN       NaN       NaN
11758-1901        NaN       NaN       NaN       NaN       NaN       NaN
11760-1902        NaN       NaN       NaN       NaN       NaN       NaN
12094-1901        NaN       NaN       NaN  0.955282       NaN       NaN
8254-1902         NaN       NaN  0.885272       NaN       NaN       NaN
8312-12704        NaN       NaN       NaN       NaN       NaN       NaN
8465-9102         NaN       NaN       NaN       NaN       NaN  0.943512
8550-12703    0.83396       NaN       NaN       NaN       NaN       NaN
8565-1902         NaN       NaN       NaN       NaN       NaN       NaN
9894-3703         NaN  0.844378       NaN       NaN       NaN       NaN

                                                    ...    GYR_LW            \
                                                    ... nanmedian
R/REFF      0.001937  0.002020  0.002860  0.004101  ...  3.739860  3.742056
plateifu                                            ...
10001-3702       NaN       NaN       NaN       NaN  ...       NaN       NaN
10217-6103       NaN       NaN       NaN  0.743979  ...       NaN       NaN
11758-1901       NaN       NaN       NaN       NaN  ...       NaN       NaN
11760-1902       NaN       NaN  0.785079       NaN  ...   9.16304  9.338862
12094-1901       NaN       NaN       NaN       NaN  ...       NaN       NaN
8254-1902        NaN       NaN       NaN       NaN  ...       NaN       NaN
8312-12704       NaN  0.984086       NaN       NaN  ...       NaN       NaN
8465-9102        NaN       NaN       NaN       NaN  ...       NaN       NaN
8550-12703       NaN       NaN       NaN       NaN  ...       NaN       NaN
8565-1902   0.524533       NaN       NaN       NaN  ...       NaN       NaN
9894-3703        NaN       NaN       NaN       NaN  ...       NaN       NaN

                                                                        \

R/REFF      3.742600  3.830676  3.950956  3.954542  3.957977  3.982341
plateifu
10001-3702       NaN       NaN       NaN       NaN       NaN       NaN
10217-6103       NaN       NaN       NaN       NaN       NaN       NaN
11758-1901       NaN       NaN       NaN       NaN       NaN       NaN
11760-1902  9.289166  9.387659  9.339087  9.289166  8.905949  9.338862
12094-1901       NaN       NaN       NaN       NaN       NaN       NaN
8254-1902        NaN       NaN       NaN       NaN       NaN       NaN
8312-12704       NaN       NaN       NaN       NaN       NaN       NaN
8465-9102        NaN       NaN       NaN       NaN       NaN       NaN
8550-12703       NaN       NaN       NaN       NaN       NaN       NaN
8565-1902        NaN       NaN       NaN       NaN       NaN       NaN
9894-3703        NaN       NaN       NaN       NaN       NaN       NaN



R/REFF      4.019119 4.049430
plateifu
10001-3702       NaN      NaN
10217-6103       NaN      NaN
11758-1901       NaN      NaN
11760-1902  9.142829  9.27956
12094-1901       NaN      NaN
8254-1902        NaN      NaN
8312-12704       NaN      NaN
8465-9102        NaN      NaN
8550-12703       NaN      NaN
8565-1902        NaN      NaN
9894-3703        NaN      NaN

[11 rows x 28607 columns]

In [38]:
pd.DataFrame.pivot_table?

Signature:
pd.DataFrame.pivot_table(
    self,
    values=None,
    index=None,
    columns=None,
    aggfunc='mean',
    fill_value=None,
    margins=False,
    dropna=True,
    margins_name='All',
    observed=False,
    sort=True,
) -> 'DataFrame'
Docstring:
Create a spreadsheet-style pivot table as a DataFrame.

The levels in the pivot table will be stored in MultiIndex objects
(hierarchical indexes) on the index and columns of the result DataFrame.

Parameters
----------
values : column to aggregate, optional
index : column, Grouper, array, or list of the previous
    If an array is passed, it must be the same length as the data. The
    list can contain any of the other types (except list).
    Keys to group by on the pivot table index.  If an array is passed,
    it is being used as the same manner as column values.
columns : column, Grouper, array, or list of the previous
    If an array is passed, it must be the same length as the data. The
    list can contain any of the other types (except list).
    Keys to group by on the pivot table column.  If an array is passed,
    it is being used as the same manner as column values.
aggfunc : function, list of functions, dict, default numpy.mean
    If list of functions passed, the resulting pivot table will have
    hierarchical columns whose top level are the function names
    (inferred from the function objects themselves)
    If dict is passed, the key is column to aggregate and value
    is function or list of functions.
fill_value : scalar, default None
    Value to replace missing values with (in the resulting pivot table,
    after aggregation).
margins : bool, default False
    Add all row / columns (e.g. for subtotal / grand totals).
dropna : bool, default True
    Do not include columns whose entries are all NaN.
margins_name : str, default 'All'
    Name of the row / column that will contain the totals
    when margins is True.
observed : bool, default False
    This only applies if any of the groupers are Categoricals.
    If True: only show observed values for categorical groupers.
    If False: show all values for categorical groupers.

    .. versionchanged:: 0.25.0

sort : bool, default True
    Specifies if the result should be sorted.

    .. versionadded:: 1.3.0

Returns
-------
DataFrame
    An Excel style pivot table.

See Also
--------
DataFrame.pivot : Pivot without aggregation that can handle
    non-numeric data.
DataFrame.melt: Unpivot a DataFrame from wide to long format,
    optionally leaving identifiers set.
wide_to_long : Wide panel to long format. Less flexible but more
    user-friendly than melt.

Notes
-----
Reference :ref:`the user guide <reshaping.pivot>` for more examples.

Examples
--------
>>> df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
...                          "bar", "bar", "bar", "bar"],
...                    "B": ["one", "one", "one", "two", "two",
...                          "one", "one", "two", "two"],
...                    "C": ["small", "large", "large", "small",
...                          "small", "large", "small", "small",
...                          "large"],
...                    "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
...                    "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
>>> df
     A    B      C  D  E
0  foo  one  small  1  2
1  foo  one  large  2  4
2  foo  one  large  2  5
3  foo  two  small  3  5
4  foo  two  small  3  6
5  bar  one  large  4  6
6  bar  one  small  5  8
7  bar  two  small  6  9
8  bar  two  large  7  9

This first example aggregates values by taking the sum.

>>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
...                     columns=['C'], aggfunc=np.sum)
>>> table
C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

We can also fill missing values using the `fill_value` parameter.

>>> table = pd.pivot_table(df, values='D', index=['A', 'B'],
...                     columns=['C'], aggfunc=np.sum, fill_value=0)
>>> table
C        large  small
A   B
bar one      4      5
    two      7      6
foo one      4      1
    two      0      6

The next example aggregates by taking the mean across multiple columns.

>>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
...                     aggfunc={'D': np.mean,
...                              'E': np.mean})
>>> table
                D         E
A   C
bar large  5.500000  7.500000
    small  5.500000  8.500000
foo large  2.000000  4.500000
    small  2.333333  4.333333

We can also calculate multiple types of aggregations for any given
value column.

>>> table = pd.pivot_table(df, values=['D', 'E'], index=['A', 'C'],
...                     aggfunc={'D': np.mean,
...                              'E': [min, max, np.mean]})
>>> table
                  D   E
               mean max      mean  min
A   C
bar large  5.500000   9  7.500000    6
    small  5.500000   9  8.500000    8
foo large  2.000000   5  4.500000    4
    small  2.333333   6  4.333333    2
File:      ~/conda/envs/astrococnda3_10/lib/python3.9/site-packages/pandas/core/frame.py
Type:      function